*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     border: solid 2px red;   
     height: 100vh;
    
}
p{
    color: rgb(244, 239, 233);
    background-color: aqua;
    font-size: 2rem;
    padding: 6px;
    border-radius: 8px;
}
.button{
    display: flex;
    justify-content: center;
    
}
.A{
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
}
.A:hover{
    background-color: rgb(242, 6, 211);
    color: aqua;
}
.B{

    padding: 20px;
    margin: 10px;
    border-radius: 20px;  
}
.B:hover{
    background-color: rgb(242, 6, 211);
    color: aqua;
}